*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
/.idea/modules.xml
/.idea/*
build_time.xml

.DS_Store
/build
/captures
/app/app.iml

/.idea/
/.idea
/.idea/gradle.xml
/daogenerator/daogenerator.iml
freeline.py
/freeline
/freeline_core
freeline_project_description.json
/app/tinker
/resguard




/freeline.zip.tmp
/init_freeline.bat
/build-small
app/app-release.apk
modules.xml
/documents/apk
/git_shell

build-cache.lock
build-cache/
/devp_score_assit.sh
/devp_debug_assist
/devp_debug_release_assist
